################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GldSrcBSPInspector/GldSrcBSPInspector.ConsoleApp/bsps
